build*/*
docs
.vscode
perf.data
perf.data.old

CMakeBuild/
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
*.a
*.user*
*.autosave
*.diff
/Doxyfile
.DS_Store
.cache/
.cmake/

clients/sfizz_jack
clients/sfzprint

*.sublime-*
*.code-*
.kak.tags.namecache
.clangd
/.vs
/clients/sfizz_render.dir
/clients/PACKAGE.vcxproj.filters
/clients/PACKAGE.vcxproj
/clients/INSTALL.vcxproj.filters
/clients/INSTALL.vcxproj
/clients/sfizz_render.vcxproj.filters
/clients/sfizz_render.vcxproj
/src/sfizz/effects/Width.windows.editor.dev.x86_64.obj
/src/sfizz/effects/Strings.windows.editor.dev.x86_64.obj
/src/sfizz/effects/Rectify.windows.editor.dev.x86_64.obj
/src/sfizz/effects/Nothing.windows.editor.dev.x86_64.obj
/src/sfizz/effects/Lofi.windows.editor.dev.x86_64.obj
/src/sfizz/effects/Limiter.windows.editor.dev.x86_64.obj
/src/sfizz/effects/impl/ResonantStringSSE.windows.editor.dev.x86_64.obj
/src/sfizz/effects/impl/ResonantStringAVX.windows.editor.dev.x86_64.obj
/src/sfizz/effects/impl/ResonantString.windows.editor.dev.x86_64.obj
/src/sfizz/effects/impl/ResonantArraySSE.windows.editor.dev.x86_64.obj
/src/sfizz/effects/impl/ResonantArrayAVX.windows.editor.dev.x86_64.obj
/src/sfizz/effects/impl/ResonantArray.windows.editor.dev.x86_64.obj
/src/sfizz/effects/Gate.windows.editor.dev.x86_64.obj
/src/sfizz/effects/Gain.windows.editor.dev.x86_64.obj
/src/sfizz/effects/Fverb.windows.editor.dev.x86_64.obj
/src/sfizz/effects/Filter.windows.editor.dev.x86_64.obj
/src/sfizz/effects/Eq.windows.editor.dev.x86_64.obj
/src/sfizz/effects/Disto.windows.editor.dev.x86_64.obj
/src/sfizz/effects/Compressor.windows.editor.dev.x86_64.obj
/src/sfizz/effects/Apan.windows.editor.dev.x86_64.obj
/src/sfizz/modulations/sources/PolyAftertouch.windows.editor.dev.x86_64.obj
/src/sfizz/modulations/sources/LFO.windows.editor.dev.x86_64.obj
/src/sfizz/modulations/sources/FlexEnvelope.windows.editor.dev.x86_64.obj
/src/sfizz/modulations/sources/Controller.windows.editor.dev.x86_64.obj
/src/sfizz/modulations/sources/ChannelAftertouch.windows.editor.dev.x86_64.obj
/src/sfizz/modulations/sources/ADSREnvelope.windows.editor.dev.x86_64.obj
/src/sfizz/modulations/ModMatrix.windows.editor.dev.x86_64.obj
/src/sfizz/modulations/ModKeyHash.windows.editor.dev.x86_64.obj
/src/sfizz/modulations/ModKey.windows.editor.dev.x86_64.obj
/src/sfizz/modulations/ModId.windows.editor.dev.x86_64.obj
/src/sfizz/simd/HelpersSSE.windows.editor.dev.x86_64.obj
/src/sfizz/simd/HelpersNEON.windows.editor.dev.x86_64.obj
/src/sfizz/simd/HelpersAVX.windows.editor.dev.x86_64.obj
/src/sfizz/utility/c++17/AlignedMemorySupport.windows.editor.dev.x86_64.obj
/src/sfizz/BeatClock.windows.editor.dev.x86_64.obj
/src/sfizz/AudioReader.windows.editor.dev.x86_64.obj
/src/sfizz/ADSREnvelope.windows.editor.dev.x86_64.obj
/src/sfizz/Curve.windows.editor.dev.x86_64.obj
/src/sfizz/Metronome.windows.editor.dev.x86_64.obj
/src/sfizz/Messaging.windows.editor.dev.x86_64.obj
/src/sfizz/LFODescription.windows.editor.dev.x86_64.obj
/src/sfizz/LFO.windows.editor.dev.x86_64.obj
/src/sfizz/Layer.windows.editor.dev.x86_64.obj
/src/sfizz/Interpolators.windows.editor.dev.x86_64.obj
/src/sfizz/FlexEnvelope.windows.editor.dev.x86_64.obj
/src/sfizz/FlexEGDescription.windows.editor.dev.x86_64.obj
/src/sfizz/FilterPool.windows.editor.dev.x86_64.obj
/src/sfizz/FilePool.windows.editor.dev.x86_64.obj
/src/sfizz/FileMetadata.windows.editor.dev.x86_64.obj
/src/sfizz/FileId.windows.editor.dev.x86_64.obj
/src/sfizz/EQPool.windows.editor.dev.x86_64.obj
/src/sfizz/Effects.windows.editor.dev.x86_64.obj
/src/sfizz/Defaults.windows.editor.dev.x86_64.obj
/src/sfizz/Smoothers.windows.editor.dev.x86_64.obj
/src/sfizz/SIMDHelpers.windows.editor.dev.x86_64.obj
/src/sfizz/SfzFilter.windows.editor.dev.x86_64.obj
/src/sfizz/sfizz.windows.editor.dev.x86_64.obj
/src/sfizz/ScopedFTZ.windows.editor.dev.x86_64.obj
/src/sfizz/RTSemaphore.windows.editor.dev.x86_64.obj
/src/sfizz/Resources.windows.editor.dev.x86_64.obj
/src/sfizz/RegionStateful.windows.editor.dev.x86_64.obj
/src/sfizz/RegionSet.windows.editor.dev.x86_64.obj
/src/sfizz/Region.windows.editor.dev.x86_64.obj
/src/sfizz/PowerFollower.windows.editor.dev.x86_64.obj
/src/sfizz/PolyphonyGroup.windows.editor.dev.x86_64.obj
/src/sfizz/Panning.windows.editor.dev.x86_64.obj
/src/sfizz/Oversampler.windows.editor.dev.x86_64.obj
/src/sfizz/OpcodeCleanup.windows.editor.dev.x86_64.obj
/src/sfizz/Opcode.windows.editor.dev.x86_64.obj
/src/sfizz/MidiState.windows.editor.dev.x86_64.obj
/src/sfizz/WindowedSinc.windows.editor.dev.x86_64.obj
/src/sfizz/Wavetables.windows.editor.dev.x86_64.obj
/src/sfizz/VoiceStealing.windows.editor.dev.x86_64.obj
/src/sfizz/VoiceManager.windows.editor.dev.x86_64.obj
/src/sfizz/Voice.windows.editor.dev.x86_64.obj
/src/sfizz/Tuning.windows.editor.dev.x86_64.obj
/src/sfizz/SynthMessaging.windows.editor.dev.x86_64.obj
/src/sfizz/Synth.windows.editor.dev.x86_64.obj
/out/build/x64-Debug
/src/sfizz/effects/Width.windows.editor.x86_64.obj
/src/sfizz/effects/Strings.windows.editor.x86_64.obj
/src/sfizz/effects/Rectify.windows.editor.x86_64.obj
/src/sfizz/effects/Nothing.windows.editor.x86_64.obj
/src/sfizz/effects/Lofi.windows.editor.x86_64.obj
/src/sfizz/effects/Limiter.windows.editor.x86_64.obj
/src/sfizz/effects/impl/ResonantStringSSE.windows.editor.x86_64.obj
/src/sfizz/effects/impl/ResonantStringAVX.windows.editor.x86_64.obj
/src/sfizz/effects/impl/ResonantString.windows.editor.x86_64.obj
/src/sfizz/effects/impl/ResonantArraySSE.windows.editor.x86_64.obj
/src/sfizz/effects/impl/ResonantArrayAVX.windows.editor.x86_64.obj
/src/sfizz/effects/impl/ResonantArray.windows.editor.x86_64.obj
/src/sfizz/effects/Gate.windows.editor.x86_64.obj
/src/sfizz/effects/Gain.windows.editor.x86_64.obj
/src/sfizz/effects/Fverb.windows.editor.x86_64.obj
/src/sfizz/effects/Filter.windows.editor.x86_64.obj
/src/sfizz/effects/Eq.windows.editor.x86_64.obj
/src/sfizz/effects/Disto.windows.editor.x86_64.obj
/src/sfizz/effects/Compressor.windows.editor.x86_64.obj
/src/sfizz/effects/Apan.windows.editor.x86_64.obj
/src/sfizz/modulations/sources/PolyAftertouch.windows.editor.x86_64.obj
/src/sfizz/modulations/sources/LFO.windows.editor.x86_64.obj
/src/sfizz/modulations/sources/FlexEnvelope.windows.editor.x86_64.obj
/src/sfizz/modulations/sources/Controller.windows.editor.x86_64.obj
/src/sfizz/modulations/sources/ChannelAftertouch.windows.editor.x86_64.obj
/src/sfizz/modulations/sources/ADSREnvelope.windows.editor.x86_64.obj
/src/sfizz/modulations/ModMatrix.windows.editor.x86_64.obj
/src/sfizz/modulations/ModKeyHash.windows.editor.x86_64.obj
/src/sfizz/modulations/ModKey.windows.editor.x86_64.obj
/src/sfizz/modulations/ModId.windows.editor.x86_64.obj
/src/sfizz/simd/HelpersSSE.windows.editor.x86_64.obj
/src/sfizz/simd/HelpersNEON.windows.editor.x86_64.obj
/src/sfizz/simd/HelpersAVX.windows.editor.x86_64.obj
/src/sfizz/utility/c++17/AlignedMemorySupport.windows.editor.x86_64.obj
/src/sfizz/ScopedFTZ.windows.editor.x86_64.obj
/src/sfizz/RTSemaphore.windows.editor.x86_64.obj
/src/sfizz/Resources.windows.editor.x86_64.obj
/src/sfizz/RegionStateful.windows.editor.x86_64.obj
/src/sfizz/RegionSet.windows.editor.x86_64.obj
/src/sfizz/Region.windows.editor.x86_64.obj
/src/sfizz/PowerFollower.windows.editor.x86_64.obj
/src/sfizz/PolyphonyGroup.windows.editor.x86_64.obj
/src/sfizz/Panning.windows.editor.x86_64.obj
/src/sfizz/Oversampler.windows.editor.x86_64.obj
/src/sfizz/MidiState.windows.editor.x86_64.obj
/src/sfizz/Metronome.windows.editor.x86_64.obj
/src/sfizz/LFODescription.windows.editor.x86_64.obj
/src/sfizz/LFO.windows.editor.x86_64.obj
/src/sfizz/Layer.windows.editor.x86_64.obj
/src/sfizz/Interpolators.windows.editor.x86_64.obj
/src/sfizz/FlexEnvelope.windows.editor.x86_64.obj
/src/sfizz/FlexEGDescription.windows.editor.x86_64.obj
/src/sfizz/FilterPool.windows.editor.x86_64.obj
/src/sfizz/FilePool.windows.editor.x86_64.obj
/src/sfizz/FileMetadata.windows.editor.x86_64.obj
/src/sfizz/FileId.windows.editor.x86_64.obj
/src/sfizz/EQPool.windows.editor.x86_64.obj
/src/sfizz/Effects.windows.editor.x86_64.obj
/src/sfizz/Curve.windows.editor.x86_64.obj
/src/sfizz/BeatClock.windows.editor.x86_64.obj
/src/sfizz/AudioReader.windows.editor.x86_64.obj
/src/sfizz/ADSREnvelope.windows.editor.x86_64.obj
/src/sfizz/Smoothers.windows.editor.x86_64.obj
/src/sfizz/SIMDHelpers.windows.editor.x86_64.obj
/src/sfizz/SfzFilter.windows.editor.x86_64.obj
/src/sfizz/sfizz.windows.editor.x86_64.obj
/src/sfizz/WindowedSinc.windows.editor.x86_64.obj
/src/sfizz/Wavetables.windows.editor.x86_64.obj
/src/sfizz/VoiceStealing.windows.editor.x86_64.obj
/src/sfizz/VoiceManager.windows.editor.x86_64.obj
/src/sfizz/Voice.windows.editor.x86_64.obj
/src/sfizz/Tuning.windows.editor.x86_64.obj
/src/sfizz/SynthMessaging.windows.editor.x86_64.obj
/src/sfizz/Synth.windows.editor.x86_64.obj
/src/sfizz/effects/Apan.web.template_debug.dev.wasm32.o
/src/sfizz/effects/Apan.web.template_debug.wasm32.o
/src/sfizz/effects/Compressor.web.template_debug.wasm32.o
/src/sfizz/effects/Disto.web.template_debug.wasm32.o
/src/sfizz/effects/Eq.web.template_debug.dev.wasm32.o
/src/sfizz/effects/Eq.web.template_debug.wasm32.o
/src/sfizz/effects/Filter.web.template_debug.dev.wasm32.o
/src/sfizz/effects/Filter.web.template_debug.wasm32.o
/src/sfizz/effects/Fverb.web.template_debug.wasm32.o
/src/sfizz/effects/Gain.web.template_debug.wasm32.o
/src/sfizz/effects/Gate.web.template_debug.wasm32.o
/src/sfizz/effects/impl/ResonantString.web.template_debug.wasm32.o
/src/sfizz/effects/Limiter.web.template_debug.wasm32.o
/src/sfizz/effects/Lofi.web.template_debug.dev.wasm32.o
/src/sfizz/effects/Lofi.web.template_debug.wasm32.o
/src/sfizz/effects/Nothing.web.template_debug.dev.wasm32.o
/src/sfizz/effects/Nothing.web.template_debug.wasm32.o
/src/sfizz/effects/Rectify.web.template_debug.wasm32.o
/src/sfizz/effects/Strings.web.template_debug.wasm32.o
/src/sfizz/effects/Width.web.template_debug.wasm32.o
/src/sfizz/ADSREnvelope.web.template_debug.dev.wasm32.o
/src/sfizz/ADSREnvelope.web.template_debug.wasm32.o
/src/sfizz/AudioReader.web.template_debug.dev.wasm32.o
/src/sfizz/AudioReader.web.template_debug.wasm32.o
/src/sfizz/AudioReader.web.template_release.wasm32.o
/src/sfizz/BeatClock.web.template_debug.dev.wasm32.o
/src/sfizz/BeatClock.web.template_debug.wasm32.o
/src/sfizz/Curve.web.template_debug.dev.wasm32.o
/src/sfizz/Curve.web.template_debug.wasm32.o
/src/sfizz/Curve.web.template_release.wasm32.o
/src/sfizz/Effects.web.template_debug.dev.wasm32.o
/src/sfizz/Effects.web.template_debug.wasm32.o
/src/sfizz/EQPool.web.template_debug.dev.wasm32.o
/src/sfizz/EQPool.web.template_debug.wasm32.o
/src/sfizz/FileId.web.template_debug.dev.wasm32.o
/src/sfizz/FileId.web.template_debug.wasm32.o
/src/sfizz/FileId.web.template_release.wasm32.o
/src/sfizz/FileMetadata.web.template_debug.dev.wasm32.o
/src/sfizz/FileMetadata.web.template_debug.wasm32.o
/src/sfizz/FileMetadata.web.template_release.wasm32.o
/src/sfizz/FilterPool.web.template_debug.dev.wasm32.o
/src/sfizz/FilterPool.web.template_debug.wasm32.o
/src/sfizz/FlexEGDescription.web.template_debug.dev.wasm32.o
/src/sfizz/FlexEGDescription.web.template_debug.wasm32.o
/src/sfizz/FlexEGDescription.web.template_release.wasm32.o
/src/sfizz/FlexEnvelope.web.template_debug.dev.wasm32.o
/src/sfizz/FlexEnvelope.web.template_debug.wasm32.o
/src/sfizz/FlexEnvelope.web.template_release.wasm32.o
/src/sfizz/Interpolators.web.template_debug.dev.wasm32.o
/src/sfizz/Interpolators.web.template_debug.wasm32.o
/src/sfizz/Layer.web.template_debug.dev.wasm32.o
/src/sfizz/Layer.web.template_debug.wasm32.o
/src/sfizz/LFO.web.template_debug.dev.wasm32.o
/src/sfizz/LFO.web.template_debug.wasm32.o
/src/sfizz/LFODescription.web.template_debug.dev.wasm32.o
/src/sfizz/LFODescription.web.template_debug.wasm32.o
/src/sfizz/LFODescription.web.template_release.wasm32.o
/src/sfizz/Metronome.web.template_debug.dev.wasm32.o
/src/sfizz/Metronome.web.template_debug.wasm32.o
/src/sfizz/Metronome.web.template_release.wasm32.o
/src/sfizz/MidiState.web.template_debug.dev.wasm32.o
/src/sfizz/MidiState.web.template_debug.wasm32.o
/src/sfizz/MidiState.web.template_release.wasm32.o
/src/sfizz/modulations/ModId.web.template_debug.dev.wasm32.o
/src/sfizz/modulations/ModId.web.template_debug.wasm32.o
/src/sfizz/modulations/ModKey.web.template_debug.dev.wasm32.o
/src/sfizz/modulations/ModKey.web.template_debug.wasm32.o
/src/sfizz/modulations/ModKeyHash.web.template_debug.dev.wasm32.o
/src/sfizz/modulations/ModKeyHash.web.template_debug.wasm32.o
/src/sfizz/modulations/ModMatrix.web.template_debug.dev.wasm32.o
/src/sfizz/modulations/ModMatrix.web.template_debug.wasm32.o
/src/sfizz/modulations/sources/ADSREnvelope.web.template_debug.dev.wasm32.o
/src/sfizz/modulations/sources/ADSREnvelope.web.template_debug.wasm32.o
/src/sfizz/modulations/sources/ChannelAftertouch.web.template_debug.dev.wasm32.o
/src/sfizz/modulations/sources/ChannelAftertouch.web.template_debug.wasm32.o
/src/sfizz/modulations/sources/Controller.web.template_debug.dev.wasm32.o
/src/sfizz/modulations/sources/Controller.web.template_debug.wasm32.o
/src/sfizz/modulations/sources/FlexEnvelope.web.template_debug.dev.wasm32.o
/src/sfizz/modulations/sources/FlexEnvelope.web.template_debug.wasm32.o
/src/sfizz/modulations/sources/LFO.web.template_debug.dev.wasm32.o
/src/sfizz/modulations/sources/LFO.web.template_debug.wasm32.o
/src/sfizz/modulations/sources/PolyAftertouch.web.template_debug.dev.wasm32.o
/src/sfizz/modulations/sources/PolyAftertouch.web.template_debug.wasm32.o
/src/sfizz/Oversampler.web.template_debug.dev.wasm32.o
/src/sfizz/Oversampler.web.template_debug.wasm32.o
/src/sfizz/Panning.web.template_debug.dev.wasm32.o
/src/sfizz/Panning.web.template_debug.wasm32.o
/src/sfizz/Panning.web.template_release.wasm32.o
/src/sfizz/PolyphonyGroup.web.template_debug.dev.wasm32.o
/src/sfizz/PolyphonyGroup.web.template_debug.wasm32.o
/src/sfizz/PowerFollower.web.template_debug.dev.wasm32.o
/src/sfizz/PowerFollower.web.template_debug.wasm32.o
/src/sfizz/Region.web.template_debug.dev.wasm32.o
/src/sfizz/Region.web.template_debug.wasm32.o
/src/sfizz/RegionSet.web.template_debug.dev.wasm32.o
/src/sfizz/RegionSet.web.template_debug.wasm32.o
/src/sfizz/RegionStateful.web.template_debug.dev.wasm32.o
/src/sfizz/RegionStateful.web.template_debug.wasm32.o
/src/sfizz/RTSemaphore.web.template_debug.dev.wasm32.o
/src/sfizz/RTSemaphore.web.template_debug.wasm32.o
/src/sfizz/ScopedFTZ.web.template_debug.dev.wasm32.o
/src/sfizz/ScopedFTZ.web.template_debug.wasm32.o
/src/sfizz/ScopedFTZ.web.template_release.wasm32.o
/src/sfizz/sfizz.web.template_debug.dev.wasm32.o
/src/sfizz/sfizz.web.template_debug.wasm32.o
/src/sfizz/SfzFilter.web.template_debug.dev.wasm32.o
/src/sfizz/SfzFilter.web.template_debug.wasm32.o
/src/sfizz/SfzFilter.web.template_release.wasm32.o
/src/sfizz/Smoothers.web.template_debug.dev.wasm32.o
/src/sfizz/Smoothers.web.template_debug.wasm32.o
/src/sfizz/Smoothers.web.template_release.wasm32.o
/src/sfizz/Tuning.web.template_debug.dev.wasm32.o
/src/sfizz/Tuning.web.template_debug.wasm32.o
/src/sfizz/VoiceManager.web.template_debug.dev.wasm32.o
/src/sfizz/VoiceManager.web.template_debug.wasm32.o
/src/sfizz/VoiceStealing.web.template_debug.dev.wasm32.o
/src/sfizz/VoiceStealing.web.template_debug.wasm32.o
/src/sfizz/WindowedSinc.web.template_debug.dev.wasm32.o
/src/sfizz/WindowedSinc.web.template_debug.wasm32.o
